body{
    padding: 0 5rem;
}

.custom-title{
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 1px;
}

/*.icon-su{*/
/*    height: auto;*/
/*    width: 13px;*/
/*}*/

/*.jumbotron{*/
/*    background-image: url('img/pizza-jumbotron-unedited.png');*/
/*}*/

/*h1{*/
/*    background-color: rgpa(211, 211, 211, 0.65);*/
/*    text-align: center;*/
/*    width: 100%*/
/*}*/
