
body {
    background-color: black;
    font-weight: bold;
    color: white;
    font-family: "Marker Felt";
}
.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    /*position: absolute;*/
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

#geoMap {
  padding-left: 100px;
justify-content: center;
    margin-left: 110px;
    margin-top: 50px;

}

/*.mapboxgl-popup {*/
/*    max-width: 400px;*/
/*    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
/*}*/

#inputs {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

/*.container {*/
/*    z-axis: 10;*/
/*}*/

h1 {
    text-align: center;
}

video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    opacity: 50%;
}

.card {
    display: flex;

    justify-content: space-around;
    border: 8px solid black;
    text-align: center;
    padding-right: 40px;
    background: none;
    width: 100%;
    opacity: 100%;
    z-index: 10;

}
